h1 {
  color: black;
  font-size: 40px;
  font-weight:700;
  line-height: 48px;
}
.container{
  display: flexbox;
  flex:1;
}
p{
  font-size: 18px;
  line-height: 22px;
}
h2{
  font-size:18px;
  line-height: 22px;
}
